<div class="mt-auto">
  <footer class="footer bg-dark text-white text-center py-2 mt-5">
    <div class="container">
      <p>
        <img src="/images/favicon.png" alt="logo" style="width: 20px" />
        YelpCamp &copy; 2021
      </p>
      <p class="text-muted">
        Created by Tomás Catena for a course of Colt Steele
      </p>
    </div>
  </footer>
</div>
