<%- layout('/layouts/boilerplate') -%>
<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <h1>Register</h1>
    <form
      action="/users/register"
      method="POST"
      novalidate
      class="validated-form"
    >
      <div class="mb-3">
        <label for="usernmae" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="usernmae"
          aria-describedby="username"
          name="username"
          required
          autofocus
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
          name="email"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button type="submit" class="btn btn-primary btn-block mt-4">
        Register
      </button>
    </form>
  </div>
</div>
